.chat{
    width: 20vw;
    height: 50vh;
    background-color: white;
    position: absolute;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 5px;
    top: 49%;
    left: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    display: none;
}

.chat.active{
    display: block;
}

.user-chat-img{
    width: 45px;
    height: 45px;
    border-radius: 25px;
}

.header-chat{
    width: 18vw;
    display: flex;
    justify-content: left;
}

.user-chat{
    width: 18vw;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.msg-out-element{
    width: 19vw;
    height: auto;
    display: flex;
    justify-content: right;
    align-items: center;
}

.msg-in-element{
    width: 19vw;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
}

.msg-out{
    width: auto;
    height: auto;
    background-color: royalblue;
    color: white;
    padding: 7px;
    border-radius: 5px 5px 0px 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.msg-in{
    display: flex;
    align-items: end;
    margin-left: 5px;
    margin-top: 5px;
}


.msg-in .img-usr-msg-in img{
    width: 25px;
    height: 25px;
    border-radius: 25px;
}


.msg-in p{
    width: auto;
    height: auto;
    background-color: #eee;
    color: black;
    padding: 7px;
    border-radius: 5px 5px 5px 0px;
    margin-left: 5px;
}

.chat-center{
    width: 19vw;
    height: 36vh;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    overflow-y: scroll;
    overflow-x: hidden;
}


.chat-msg{
    width: 295px;
    height: auto;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px 0px 0px 5px;
}

.chat-msg:focus{
    transform: translate(0);
    box-shadow: none;
}

.submit-message{
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 0px 5px 5px 0px;
    border-color: royalblue;
    outline: none;
    color: white;
    background-color: royalblue;
}

.close-chat{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    background-color: red;
    cursor: pointer;
}